#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
${symbol_pound}parse("copyright.vm")
package ${symbol_dollar}{plugin.seqDAOPackage};

${symbol_pound}if (${symbol_dollar}plugin.sequences.size() > 0)
import org.springframework.dao.DataAccessException;
${symbol_pound}end

/**
 * A dao interface provides methods to access all <tt>SEQUENCE</tt> objects.
 *
${symbol_pound}parse("description-java.vm")
 */
public interface ${symbol_dollar}{plugin.seqDAOClassName} {
${symbol_pound}foreach (${symbol_dollar}seq in ${symbol_dollar}{plugin.sequences})
${symbol_pound}parse("seq-description.vm")
    public long ${symbol_dollar}{seq.operationName}() throws DataAccessException;

${symbol_pound}end
}