#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE sqlMapConfig PUBLIC "-//iBATIS.com//DTD SQL Map Config 2.0//EN" "http://www.ibatis.com/dtd/sql-map-config-2.dtd">
<sqlMapConfig>
    <settings cacheModelsEnabled="true" enhancementEnabled="false" lazyLoadingEnabled="false" maxRequests="3000" maxSessions="3000" maxTransactions="3000" useStatementNamespaces="false"/>    
    <sqlMap resource="sqlmap/common-sqlmap-mapping.xml"/>
${symbol_pound}foreach (${symbol_dollar}table in ${symbol_dollar}plugin.sortedTables)            
    <sqlMap resource="sqlmap/${symbol_dollar}{table.baseClassName}-sqlmap-mapping.xml"/>
${symbol_pound}end
</sqlMapConfig>
