#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
	/**
	 *  Update DB table <tt>${symbol_dollar}table.sqlName</tt>.
	 *
${symbol_pound}parse("operation/op-javadoc.vm")	 
	 */	 
${symbol_pound}parse("operation/op-signature.vm")