#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
{
${symbol_pound}if (${symbol_dollar}{operation.paramType} == "object")
    	if (${symbol_dollar}{operation.param.name} == null) {
    		throw new IllegalArgumentException("Can't insert a null data object into db.");
    	}
    	
        getSqlMapClientTemplate().insert("${symbol_dollar}{operation.mappedStatementId}", ${symbol_dollar}{operation.param.name});

        return ${symbol_dollar}{operation.param.name}.${symbol_dollar}{table.iwPkColumn.getterName}();
${symbol_pound}else
${symbol_pound}${symbol_pound} Not supported yet.
${symbol_pound}parse ("operation/not-support.vm")
${symbol_pound}end
    }