#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
{
${symbol_pound}${symbol_pound}if(${symbol_dollar}{operation.count} == false) 
${symbol_pound}if (! ${symbol_dollar}{operation.paging})
${symbol_pound}if (${symbol_dollar}{operation.multiplicity} == "many")

${symbol_pound}${symbol_pound} prepare parameters
${symbol_pound}if (${symbol_dollar}{operation.params.size()} == 0)
	
${symbol_pound}set (${symbol_dollar}paramName = "null")
${symbol_pound}parse ("operation/select-in.vm")
${symbol_pound}parse ("operation/select-end.vm")        

${symbol_pound}elseif (${symbol_dollar}{operation.params.size()} == 1)
${symbol_pound}if (${symbol_dollar}{operation.param.javaTypePrimitive})
        ${symbol_dollar}{operation.param.simpleJavaTypeForPrimitive} param = new ${symbol_dollar}{operation.param.simpleJavaTypeForPrimitive}(${symbol_dollar}{operation.param.name});
${symbol_pound}set (${symbol_dollar}paramName = "param")

${symbol_pound}parse ("operation/select-in.vm")
${symbol_pound}parse ("operation/select-end.vm")
${symbol_pound}else
${symbol_pound}set (${symbol_dollar}paramName = ${symbol_dollar}{operation.param.name})
${symbol_pound}parse ("operation/select-in.vm")
${symbol_pound}parse ("operation/select-end.vm")
${symbol_pound}end
${symbol_pound}else
        Map param = new HashMap();

${symbol_pound}foreach (${symbol_dollar}param in ${symbol_dollar}{operation.params})
${symbol_pound}if (${symbol_dollar}param.javaTypeForPrimitive)
        param.put("${symbol_dollar}{param.name}", new ${symbol_dollar}{param.simpleJavaTypeForPrimitive}(${symbol_dollar}{param.name}));
${symbol_pound}else
        param.put("${symbol_dollar}{param.name}", ${symbol_dollar}{param.name});
${symbol_pound}end
${symbol_pound}end
${symbol_pound}set (${symbol_dollar}paramName = "param")
${symbol_pound}parse ("operation/select-in.vm")
${symbol_pound}parse ("operation/select-end.vm")    
${symbol_pound}end
${symbol_pound}else
${symbol_pound}parse ("operation/opbody-single-select.vm")
${symbol_pound}end
${symbol_pound}else
${symbol_pound}parse ("operation/paging-select-in.vm")
${symbol_pound}end
${symbol_pound}${symbol_pound}else
${symbol_pound}${symbol_pound}parse ("operation/opbody-select-old.vm")
${symbol_pound}${symbol_pound}end
}
