#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
${symbol_pound}${symbol_pound}operation.getAllField方法用来区分是否是select *格式 
${symbol_pound}if(${symbol_dollar}{operation.getAllField()} < 0)
${symbol_pound}${symbol_pound}operation.getField方法小于0时，说明查询的字段只有一个
${symbol_pound}if(${symbol_dollar}{operation.getField()} < 0) 
${symbol_pound}${symbol_pound}当返回一个字段的时候，要考虑该字段的返回值类型
${symbol_pound}if (${symbol_dollar}{operation.returnTypePrimitive})
	 ${symbol_pound}${symbol_pound}将得到的String类型的数值转成基本数据类型所对应的引用数据类型
${symbol_dollar}{operation.simpleReturnTypeForPrimitive} retObj = new ${symbol_dollar}{operation.simpleReturnTypeForPrimitive}(finalStringValue);
	 ${symbol_pound}${symbol_pound}转成基本数据类型
	 return retObj.${symbol_dollar}{operation.simpleReturnType}Value();
		
${symbol_pound}else
	   
         return finalStringValue;

${symbol_pound}end 
${symbol_pound}else
${symbol_pound}if(${symbol_dollar}{table.getTableConfig().bConfidentiality()} == true)
${symbol_pound}${symbol_pound}parse ("operation/dynamic-extends.vm")
       opDO.set${symbol_dollar}!{finalRet}(bytesToString);
          return opDO;
${symbol_pound}else 
        return (${symbol_dollar}{operation.simpleReturnType}) getSqlMapClientTemplate().queryForObject("${symbol_dollar}{operation.mappedStatementId}", ${symbol_dollar}{paramName});
${symbol_pound}end
${symbol_pound}end
${symbol_pound}else
	 ${symbol_pound}if(${symbol_dollar}{table.getTableConfig().bConfidentiality()} == true)
${symbol_pound}${symbol_pound}parse ("operation/dynamic-extends.vm")
        opDO.set${symbol_dollar}!{finalRet}(bytesToString);
          return opDO;
${symbol_pound}else 
        return (${symbol_dollar}{operation.simpleReturnType}) getSqlMapClientTemplate().queryForObject("${symbol_dollar}{operation.mappedStatementId}", ${symbol_dollar}{paramName});
${symbol_pound}end
${symbol_pound}end