#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
	/**
	 *  Query SEQUENCE <tt>${symbol_dollar}seq.name</tt> for next value.
	 *
	 *  <p>
	 *  The sql statement for this operation is <br>
	 *  <tt>${symbol_dollar}seq.parsedSql</tt>
	 *
	 *	@return ${symbol_dollar}seq.returnType
${symbol_pound}${symbol_pound}@exception
${symbol_pound}foreach (${symbol_dollar}e in ${symbol_dollar}{seq.simpleExceptions})
	 *	@exception ${symbol_dollar}e
${symbol_pound}end
	 */	 
